body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #322e2e;
  }
 
  .main-header {
    background-color: #322e2e;
    color: #fa8484;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
  }
  
  .main-nav li {
    margin-right: 47px;
    
  }
  
  .main-nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    margin-right: 47px;
  }
  
  .search-bar input {
    padding: 5px;
  }
  
  .search-bar button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .signup-button,
  .cart-button {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .product-section {
    padding: 7rem 0; }
    .product-section .product-item {
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding-bottom: 50px;
      cursor: pointer; }
      .product-section .product-item .product-thumbnail {
        margin-bottom: 30px;
        position: relative;
        top: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item h3 {
        font-weight: 600;
        font-size: 16px; }
      .product-section .product-item strong {
        font-weight: 800 !important;
        font-size: 18px !important; }
      .product-section .product-item h3, .product-section .product-item strong {
        color: #2f2f2f;
        text-decoration: none; }
      .product-section .product-item .icon-cross {
        position: absolute;
        width: 35px;
        height: 35px;
        display: inline-block;
        background: #2f2f2f;
        bottom: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: -17.5px;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .product-section .product-item .icon-cross img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .product-section .product-item:before {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        background: #ffffff;
        height: 0%;
        z-index: -1;
        border-radius: 10px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item:hover .product-thumbnail {
        top: -25px; }
      .product-section .product-item:hover .icon-cross {
        bottom: 0;
        opacity: 1;
        visibility: visible; }
      .product-section .product-item:hover:before {
        height: 70%; }
        .why-choose-section {
          padding: 7rem 0; }
          .why-choose-section .img-wrap {
            position: relative; }
            .why-choose-section .img-wrap:before {
              position: absolute;
              content: "";
              width: 255px;
              height: 217px;
              background-image: url("../images/dots-yellow.svg");
              background-repeat: no-repeat;
              background-size: contain;
              -webkit-transform: translate(-40%, -40%);
              -ms-transform: translate(-40%, -40%);
              transform: translate(-40%, -40%);
              z-index: -1; }
            .why-choose-section .img-wrap img {
              border-radius: 20px; }
              .feature {
                margin-bottom: 30px; }
                .feature .icon {
                  display: inline-block;
                  position: relative;
                  margin-bottom: 20px; }
                  .feature .icon:before {
                    content: "";
                    width: 33px;
                    height: 33px;
                    position: absolute;
                    background: rgba(59, 93, 80, 0.2);
                    border-radius: 50%;
                    right: -8px;
                    bottom: 0; }
                .feature h3 {
                  font-size: 14px;
                  color: #2f2f2f; }
                .feature p {
                  font-size: 14px;
                  line-height: 22px;
                  color: #6a6a6a;     
                  .we-help-section {
                    padding: 7rem 0; }
                    .we-help-section .imgs-grid {
                      display: -ms-grid;
                      display: grid;
                      -ms-grid-columns: (1fr)[27];
                      grid-template-columns: repeat(27, 1fr);
                      position: relative; }
                      .we-help-section .imgs-grid:before {
                        position: absolute;
                        content: "";
                        width: 255px;
                        height: 217px;
                        background-image: url("../images/dots-green.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        -webkit-transform: translate(-40%, -40%);
                        -ms-transform: translate(-40%, -40%);
                        transform: translate(-40%, -40%);
                        z-index: -1; }
                      .we-help-section .imgs-grid .grid {
                        position: relative; }
                        .we-help-section .imgs-grid .grid img {
                          border-radius: 20px;
                          max-width: 100%; }
                        .we-help-section .imgs-grid .grid.grid-1 {
                          -ms-grid-column: 1;
                          -ms-grid-column-span: 18;
                          grid-column: 1 / span 18;
                          -ms-grid-row: 1;
                          -ms-grid-row-span: 27;
                          grid-row: 1 / span 27; }
                        .we-help-section .imgs-grid .grid.grid-2 {
                          -ms-grid-column: 19;
                          -ms-grid-column-span: 27;
                          grid-column: 19 / span 27;
                          -ms-grid-row: 1;
                          -ms-grid-row-span: 5;
                          grid-row: 1 / span 5;
                          padding-left: 20px; }
                        .we-help-section .imgs-grid .grid.grid-3 {
                          -ms-grid-column: 14;
                          -ms-grid-column-span: 16;
                          grid-column: 14 / span 16;
                          -ms-grid-row: 6;
                          -ms-grid-row-span: 27;
                          grid-row: 6 / span 27;
                          padding-top: 20px; }
                          .hero {
                            background: #3b5d50;
                            padding: calc(4rem - 30px) 0 0rem 0; }
                            @media (min-width: 768px) {
                              .hero {
                                padding: calc(4rem - 30px) 0 4rem 0; } }
                            @media (min-width: 992px) {
                              .hero {
                                padding: calc(8rem - 30px) 0 8rem 0; } }
